{
  "presets": [
    [
      "@babel/preset-env",
      { "targets": "> 0.25%, not dead, IE >= 9", "modules": false, "useBuiltIns": "entry", "corejs": "3" }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
}
